@import "tailwindcss";

@theme {
  /* Paleta Oficial LebriJaleo */
  --color-lemon-icing: #F6EBC8;
  --color-cloud-dancer: #f8f6f5; 
  --color-midnight-blue: #221610;
  --color-nimbus-cloud: #DBCDA3; 
  
  --color-form-bg: #F0EEE9;

  /* Tipografía */
  --font-display: "Manrope", sans-serif;
}

@layer utilities {
  .text-lemon-icing-accent {
    color: #C1A866;
  }
  .bg-lemon-icing {
    background-color: #F6EBC8;
  }
  .hover-text-lemon-icing--dark:hover {
    color: #A38C52;
  }
}